.preview_container {
    display: flex;
    justify-content: center;
    padding-top: 43px;
    position: relative;
    height: 356px;
    width: 100%;
}

.selectSurveyContainer {
    position: absolute;
    left: clamp(10px, 6%, 82px);
    top:46px;
}

.survey_preview {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}